* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

/* custom */
.ct-top-menu-item {
  position: relative;
  cursor: pointer;
}

.ct-top-menu-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #C89F94;
  height: 2px;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.ct-top-menu-item:hover::after {
  width: 100%;
}


/* header */
.header .header__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2E2E2E;
  color: #fff;
  padding: 15px;
  font-size: 13px;
}

.header .header__top .header__top__topbar__right{
  display: flex;
  /* justify-content: space-around; */
  /* align-items: center; */
  gap: 20px;
}
.header .header__top .header__top__topbar__right .header__topbar_email{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 20px;
  border-right: 1px solid #fff;
  padding-right: 15px;

}
.header .header__top .header__top__topbar__right .header__topbar_email i{
  font-size: 20px;
}
.header .header__top .header__top__topbar__right .header__topbar_email a{
  text-decoration: none;
  color: #fff;
}
.header .header__top .header__top__topbar__right .header__topbar_phone{
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 20px;
}
.header .header__top .header__top__topbar__right .header__topbar_phone i{
  font-size: 20px;
}
.header .header__top .header__top__topbar__right .header__topbar_phone a{
  text-decoration: none;
  color: #fff;
}

.header .header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #9191918f;
  gap: 220px;
}
.header .header__nav .header__nav__logo {
  color: #0C61FA;
  font-weight: 700;
}
.header .header__nav .header__nav__menu .header__item__menu{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.header .header__nav .header__nav__menu {
  position: relative;
}
.header .header__nav .header__nav__menu .header__item__menu .header__menu__product {
  position: relative;
}
.header .header__nav .header__nav__menu .header__item__menu .header__menu__new {
  position: relative;
}
.mega-content {
  display: none;
}
.mega-content .row{
  /* display: none; */
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 1861px;
  background-color: #fff;
  z-index: 1;
  padding: 10px;
  /* border: 1px solid #747474; */
  /* bottom: -240px; */
  /* display: none; */
  top: 50px;
  left: -1130px;
  padding: 20px 0 50px 0;
}

.post-content .entry-title a{
  text-transform: uppercase;
  font-size: 18px !important;
}
.day-cmt .entry-date time{
  font-size: 13px !important;
  color: #9b9b9b;
  margin-top: 10px;
  display: block;
}

.item_blog_img{
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.header .header__nav .header__nav__menu .header__item__menu .header__menu__product .level0{
  position: absolute;
  /* width: 300px; */
  display: flex;
  justify-content: space-around;
  width: 1861px;
  background-color: #fff;
  z-index: 1;
  padding: 10px;
  /* border: 1px solid #747474; */
  /* bottom: -240px; */
  /* display: none; */
  top: 50px;
  left: -890px;
}

.header .header__nav .header__nav__menu .header__item__menu .header__menu__product .level0 .hmega{
  border-bottom: 1px solid #0657a3;
  padding-bottom: 1px;
  color: #333f48;
  font-size: 13px;
  margin-bottom: 20px;
  display: block;
}
.header .header__nav .header__nav__menu .header__item__menu .header__menu__product .level0 ul .level2 a{
  margin-bottom: 10px;
  display: block;
  color: #333f48;
  font-size: 13px;
  text-transform: none;
  font-weight: normal;
}

.header .header__nav .header__nav__menu .header__item__menu .header__menu__product .level0 {
  display: none;
}

.header .header__nav .header__nav__menu .header__item__menu .header__menu__product:hover .level0 {
  display: flex;
}

.header .header__nav .header__nav__menu .header__item__menu .header__menu__product .level0 ul .level2 a:hover{
  color: #0657a3;
}
.header .header__nav .header__nav__menu .header__item__menu .header__menu__introduce:hover .dropdown-menu{
  display: block;
}
.header .header__nav .header__nav__menu .header__item__menu .header__menu__new:hover .mega-content{
  display: block;
}

.header .header__nav .header__nav__menu .header__item__menu .header__menu__introduce .dropdown-menu{
  position: absolute;
  width: 300px;
  background-color: #fff;
  z-index: 1;
  /* padding: 0 0 0 10px; */
  /* border: 1px solid #747474; */
  /* bottom: -240px; */
  display: none;
  top: 50px;
}

.header .header__nav .header__nav__menu .header__item__menu .header__menu__introduce .dropdown-menu  li{
  border-bottom: 1px solid #7474743f;
  padding: 10px 10px 10px 10px
}
.header .header__nav .header__nav__menu .header__item__menu .header__menu__introduce .dropdown-menu  a{
  text-transform: none;
}

.header .header__nav .header__nav__menu .header__item__menu li{
  list-style: none;
}
.header .header__nav .header__nav__menu .header__item__menu a{
  text-decoration: none;
  list-style: none;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 23.8px;
  text-transform: uppercase;
  color: #004;
}
.header .header__nav .header__nav__cart{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.header .header__nav .header__nav__cart li{
  list-style: none;
}
.header .header__nav .header__nav__cart i{
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 23.8px;
  text-transform: uppercase;
}

/* Main */
.main .main__banner {
  display: flex;
  width: 97.3%;
  justify-content: space-around;
  position: relative;
  opacity: 85%;
}
.main .main__banner img{
  height: 970px;
}

.main .main__text{
  top: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.main .main__text h1{
  color: #fff;
  line-height: 42px;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase;
  transition: 0.3s all;
}

.main .main__text .main__text__btn {
  background: #fff;
  color: #000;
  line-height: 14px;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s all;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  padding: 14px 40px;
  cursor: pointer;
  border: none;  
  width: 160px;
  opacity: 50%;
}

.main .main__text .main__text__btn:hover{
  background: #000;
  color: #fff;
  opacity: 1;
}

.main .main__shop__collection{
  display: flex;
  margin-bottom: 60px;
}

.main .main__shop__collection .main__item__collection {
  position: relative;
}
.main .main__shop__collection .main__item__collection img{ 
  width: 100%;
}

.main .main__shop__collection .main__item__content {
  position: absolute;
  top: 50%;
  right: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #fff;
  padding: 20px;
}

.main .main__shop__collection .main__item__content h3{
  font-size: 40px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 20px;
}
.main .main__shop__collection .main__item__content a{
  color: #fff;
  font-weight: 400;
  padding-bottom: 10px;
}
.main .main__shop__collection .main__item__content a:hover{
  color: #134baf;
  font-weight: 400;
  padding-bottom: 10px;
  transition: all .3s ease;
}

.main .main__trending h1{
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 50px;
}
.main .main__trending h1:hover{
  color: #0657a3;
}
.main .main__trending ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 600;
  gap: 70px;
}

.main .main__trending ul label {
  text-decoration: none;
  color: #9b9b9b;
  text-transform: uppercase;
  font-size: 20px;
  border: 1px solid #9b9b9b;
  padding: 15px 73.5px;
  cursor: pointer;
}
.main__trending ul input[type="radio"] {
  display: none;
}

.main__trending ul input[type="radio"]:checked + label {
  color: #1c1c1c; 
  border: 1px solid #1c1c1c;
}
.main .main__trending .main__trending__product {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* align-items: center; */
  padding: 0 240px;
  margin-bottom: 20px;
}

.main .main__trending .main__trending__product .main__item__product img{
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
.main .main__trending .main__trending__product .main__item__product span{
  text-transform: uppercase;
  color: #a3a3a3;
  font-size: 14px;
}
.main .main__trending .main__trending__product .main__item__product .main__trending__product__content{
  width: 90%;
  margin-top: 20px;
}
.main .main__trending .main__trending__product .main__item__product .main__trending__product__content .main__product__name {
  margin-bottom: 10px;
}
.main .main__trending .main__trending__product .main__item__product .main__trending__product__content .main__product__name a{
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 14px;
  color: #333;
}

.main .main__trending .main__trending__product .main__item__product .main__trending__product__content .main__product__price span{
  color: #134baf;
  font-size: 14px;
  font-weight: 700;
}
.main .main__trending .main__item__nav {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 40px;
}
.main .main__trending .main__item__nav .item__nav__active {
  /* border: 1px solid #333; */
  background: #0657a3;
  width: 10px;
  height: 10px;
}
.main .main__trending .main__item__nav .item__nav {
  border: 1px solid #8b8b8b93;
  /* background: #0657a3; */
  width: 10px;
  height: 10px;
}

.main .main__introduce{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}
.main .main__introduce .main__introduce__left img{
  width: 680px;
  height: auto;
}
.main .main__introduce .main__introduce__right {
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.main .main__introduce .main__introduce__right img{
  width: 680px;
  height: 300px;
}

.main .main__introduce .main__introduce__right .main__introduce__title{
  color: #9B9B9B;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.main .main__introduce .main__introduce__right .main__introduce__content{
  font-size: 120px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #222;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.main .main__introduce .main__introduce__right .main__introduce__wrapper{
  margin-bottom: 80px;
}
.main .main__introduce .main__introduce__right .main__introduce__wrapper a{
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  background-color: #000;
  width: 35%;
  padding: 16px 30px 12px 30px;
  text-align: center;
  cursor: pointer;
}

.main .main__news {
  position: relative;
  margin-bottom: 50px;
}
.main .main__news img{
  width: 100%;
}
.main .main__news .main__new__content{
  position: absolute;
  top: 10%;
  left: 50%;
}
.main .main__news .main__new__content .title_2_banner{
  color: #FDFDFD;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  text-align: center;
}
.main .main__news .main__new__content .content_2_banner{
  font-size: 120px;
  padding: 0;
  margin: 0;
  line-height: 1;
  color: #FFFFFF;
  margin-bottom: 25px;
  text-align: center;
}
.main .main__news .main__introduce__wrapper{
  display: flex;
  justify-content: center;
}
.main .main__news .main__introduce__wrapper a{
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #000;
  background-color: #fff;
  width: 35%;
  padding: 16px 30px 12px 30px;
  text-align: center;
  cursor: pointer;
}

.main .main__contact{
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}
.main .main__contact .main__ship {
  border: 1px solid #dedede;
  padding: 0 60px;
}
.main .main__contact .main__ship img{
  width: 150px;
}

.main .main__blog h3 a {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: #222;
  font-size: 40px;
  line-height: 1;
  text-decoration: none;
  font-weight: 300;
}
.main .main__blog h3 a:hover{
  color: #0657a3;
}


.main__item__blog {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  padding: 0 250px;
  margin-bottom: 100px;
}

.main__item__blog .item__blog {
  max-width: 600px; 
  width: 100%; 
}
.main__item__blog .item__blog .item__blog__img {
  position: relative;
}

.main__item__blog .item__blog img {
  width: 100%; 
}

.main__item__blog .item__blog .time_post {
  /* text-align: center; */
  padding: 15px 90px 15px 20px;
  position: absolute;
  bottom: 5px;
  /* left: 0; */
  width: 65%;
  clip-path: polygon(0 0, 76% 0, 100% 100%, 0 100%);
  background: #222;
  color: #fff;
  font-size: 18px;
}
.main__item__blog .item__blog .time_post span {
  position: relative;
  padding-left: 15px;
  line-height: 27px;
  top: 0;
  /* display: inline-block; */
  border-left: 2px solid #ff3535;
}

.main__blog .main__item__blog .item__blog h3 {
  color: #1c1c1c;
  font-size: 26px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  /* white-space: nowrap; */
  cursor: pointer;
}
.main__blog .main__item__blog .item__blog h3:hover{
  color: #0657a3;
}
.main__blog .main__item__blog .item__blog p{
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.52px;
  margin-bottom: 0;
  color: #747474;
  text-align: left;
  padding-bottom: 10px;
  word-wrap: break-word;
}

.main__blog .main__item__blog .item__blog a {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #222;
  color: #222;
  padding: 0 20px;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  width: 150px;
  text-decoration: none;
}

/* Footer */
.footer {
  background-color: #222222;
  padding: 30px 0;
  color: #fff;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  border-bottom: 1px solid #747474;
}
.footer h3{
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.footer ul{
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  color: #9b9b9b;
}
.footer ul li{
  list-style: none;
}

.footer p{
  font-size: 14px;
  color: #fff;
}

.footer__introduce{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__product ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__support ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__subcriber form{
  position: relative;
}
.footer__subcriber p{
  color: #9b9b9b;
  margin-bottom: 20px;
}
.footer__subcriber form input{
  padding-left: 0px;
  padding-right: 100px;
  color: #9b9b9b;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 0 0 10px 0;
  width: 100%;
}
.footer__subcriber form input:focus{
  border: none;
}
.footer__subcriber form img{
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: 20px;
  line-height: 40px;
  padding: 0 5px;
}

.copy{
  text-align: center;
  background-color: #1F1F1F;
  padding: 20px;
  color: #fff;
}